<h1>Update User</h1>

<form action="/users/<%=@user.id%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="user[name]" value="<%=@user.name%>">

  <br></br>

  <label>Choose an existing tweet:</label>

  <br></br>

  <%Tweet.all.each do |tweet|%>
    <input type="checkbox" name="user[tweet_ids][]" value="<%=tweet.id%>" <%='checked' if @user.tweets.include?(tweet) %>><%=tweet.content%></input>
  <%end%>

  <br></br>

  <label>and/or, create a new tweet:</label>
  <br></br>
  <label>name:</label>
    <input  type="text" name="tweet[content]"></input>
  <br></br>
  <input type="submit" value="Create User">
</form>

